    <table>
      <tr>
        <th>Weapon Name</th>
      </tr>
      {{#each displayweapons}}
      <tr>
          <td>{{this.wname}}</td>   
        </tr>
        {{/each}}
    </table>
    <a href="/powers">Back to Powers</>